*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/cpp/edge-impulse-sdk
/app/src/main/cpp/model-parameters
/app/src/main/cpp/tflite/android64
/app/src/main/cpp/tflite-model